# Project: Iterators and Iterable Containers

## Author Info
+ **Full Name:** Your Name Goes Here
+ **Email:** Your Email Goes Here

*** 
## Install and Import Packages, Modules, and Functions

In [15]:
# Import packages and module
# Import with every Kernel restart

# YOUR CODE GOES HERE
import io

***
## How to Save the Session as PDF File

1. Generate the HTML file of your completed:
    - Click on `File --> Download as ` and select `HTML` in the File menu
    
2. Convert the HTML file into the PDF file:
    - Go to the folder you saved the HTML file to
    - Right Mouse Click on saved HTML file
    - Select `Open with` and choose your web browser, e.g., Google Chrome
    - From the web browser, right mouse click and select `Print` and choose `Save as PDF` option

In this assignment, you will practice Python **iterators** for analysis of the Home Mortgage at North Carolin dataset available in the `data` folder.

## Step-0: Set-up the project environment

In [2]:
pd.set_option ('display.max_columns', 50)
pd.set_option ('display.max_rows', 50)

***
## Step-1: Load and Examine Home Mortgage Data
+ Load `home_mortgage_NC.csv` from the `data` subfolder into a `df` DataFrame:
    - Ignore the warning signs upon reading the data
+ Print the number of rows and columns:
    - What type of object is returned: tuple or list?
    - What symbols give you the hint about the object type?
+ Display the top 3 rows

In [ ]:
# YOUR CODE GOES HERE
df.head(3)

In [ ]:
# YOUR CODE GOES HERE

***
## Step-2: Examine the missing values with `.info()`
+ Report if the there are rows with the missing values
+ Read help on `df.info()` method
    - What attributes (if any) are returned by the method?
+ Are there columns with at least one missing values?
+ Are there columns with all the values being missing?

In [ ]:
# YOUR CODE GOES HERE

In [ ]:
# YOUR CODE GOES HERE

***
## Step-3: What if Missing Value Rows and Columns are Removed?
+ Read help on the `.dropna()` method:
    - Pay attention to the input parameter `axis`
    - What is the default value of this parameter?
+ Apply the `.dropna()` method with the default value of `axis` and store the resulting DataFrame as `df_nn_0`
+ Print the number of rows and columns in the `df_nn_0` DataFrame
    - How many rows are left?
+ Report the missingness profile for `df_nn_0` using `.info()`
+ Change the default value for `axis` to the other value:
    - What is the other value of the `axis` parameter?
+ Store the result of the `.dropna()` call with the other value for `axis` in `df_nn_1`
+ Print the number of rows and columns in `df_nn_1`
    - How many rows are left?
    - How mnay columns have been removed?
+ Report the missingness profile for `df_nn_1` using `.info()`
+ What are the lessons learned from this step?

In [ ]:
# YOUR CODE GOES HERE

***
## Step-4: Read the Missingness Profile into the Text
+ The `df.info()` method prints the profile info on the missing values onto the screen
    - It does NOT return the object with any information contained
    - Validate this this statement is correct
    - What is the return type of the object returned by `df.info()`
+ Because `df.info()` prints its results onto the screen, the goal of this step is to redirect the output into a string buffer and extract all its content as a text, i.e., the object of type `str`:
    - Examine the code that redirects output into a `profile_str` object:
        * What module is imported to support this functionality?
        * What function from this module is used to provide this functionality?
    - Check the type of `profile_str` using the proper function call
    - Check the size of the `profile_str` using `len()` function
    - Print `profile_str` content using the proper function call
    - What **symbols** indicate about the resulting type of the `profile_str` object?

In [ ]:
# YOUR CODE GOES HERE

In [16]:
# Examine this code
buffer = io.StringIO()
df.info(buf=buffer)
profile_str = buffer.getvalue()

In [17]:
# YOUR CODE GOES HERE

***
## Step-5: Convert Text Profile into List Object
+ The `\n` character displayed in the output cell for `profile_str` below as a **new line character**
+ Use the `.split()` method for `str` type to split the `profile_str` into a list object, called `profile_list`:
    + Read help on `.split()` method
    * Make sure the specify `\n` as the value for the parameter `sep`, namely `sep = '\n'`
    * Which symbols indicated that `profile_list` is indeed the list?
    * Validate the type of `profile_list` with the proper function call
+ What is the size of the `profile_list`?
    * Which function have you used to compute the number of items in this list?

In [20]:
profile_str

"<class 'pandas.core.frame.DataFrame'>\nRangeIndex: 203848 entries, 0 to 203847\nData columns (total 47 columns):\ntract_to_msamd_income             203722 non-null float64\nrate_spread                       13173 non-null float64\npopulation                        203722 non-null float64\nminority_population               203722 non-null float64\nnumber_of_owner_occupied_units    203722 non-null float64\nnumber_of_1_to_4_family_units     203722 non-null float64\nloan_amount_000s                  203848 non-null int64\nhud_median_family_income          203722 non-null float64\napplicant_income_000s             193458 non-null float64\nstate_name                        203848 non-null object\nstate_abbr                        203848 non-null object\nsequence_number                   0 non-null float64\nrespondent_id                     203848 non-null object\npurchaser_type_name               203848 non-null object\nproperty_type_name                203848 non-null object\npreapproval_name                  203848 non-null object\nowner_occupancy_name              203848 non-null object\nmsamd_name                        173986 non-null object\nloan_type_name                    203848 non-null object\nloan_purpose_name                 203848 non-null object\nlien_status_name                  203848 non-null object\nhoepa_status_name                 203848 non-null object\nedit_status_name                  0 non-null float64\ndenial_reason_name_3              0 non-null float64\ndenial_reason_name_2              0 non-null float64\ndenial_reason_name_1              0 non-null float64\ncounty_name                       203733 non-null object\nco_applicant_sex_name             203848 non-null object\nco_applicant_race_name_5          2 non-null object\nco_applicant_race_name_4          2 non-null object\nco_applicant_race_name_3          25 non-null object\nco_applicant_race_name_2          343 non-null object\nco_applicant_race_name_1          203848 non-null object\nco_applicant_ethnicity_name       203848 non-null object\ncensus_tract_number               203722 non-null float64\nas_of_year                        203848 non-null int64\napplication_date_indicator        0 non-null float64\napplicant_sex_name                203848 non-null object\napplicant_race_name_5             6 non-null object\napplicant_race_name_4             15 non-null object\napplicant_race_name_3             92 non-null object\napplicant_race_name_2             1093 non-null object\napplicant_race_name_1             203848 non-null object\napplicant_ethnicity_name          203848 non-null object\nagency_name                       203848 non-null object\nagency_abbr                       203848 non-null object\naction_taken_name                 203848 non-null object\ndtypes: float64(15), int64(2), object(30)\nmemory usage: 73.1+ MB\n"

In [24]:
# Check your answer with mine
print (len (profile_list))

53

***
## Step-6: Access the Parts of the Profile List
+ Indexing and slicing will be covered in detail in the next session
+ As a preview, examine the provided code snippet for indexing:
    - Which symbol has been used to indicate the access to the first and last elements of the list that contain information and not empty line(s)?
    - Which values indicated that the first or last element is being accessed?
    - Is indexing zero-based, i.e., the first element has an index of zero?
+ As a preview, examine the provided code snippet for slicing:
    - Which symbol is used to indicate the slice of the list, or a sub-list, of interest called `roi_list`
    - What is the size of the `roi_list`?
    - Is the size equal to the number of columns in `df`?

In [26]:
# Examine the code snippet for indexing, or accessing individual item
print (profile_list [ 0 ])
print (profile_list [ 51 ])

<class 'pandas.core.frame.DataFrame'>
memory usage: 73.1+ MB

In [32]:
# Examine the code snipper for slicing, or extracting the roi_list, region of interest
roi_list = profile_list [ 3 : 50 ]
print (len (roi_list))
print (df.shape)
roi_list

47
(203848, 47)

['tract_to_msamd_income             203722 non-null float64',
 'rate_spread                       13173 non-null float64',
 'population                        203722 non-null float64',
 'minority_population               203722 non-null float64',
 'number_of_owner_occupied_units    203722 non-null float64',
 'number_of_1_to_4_family_units     203722 non-null float64',
 'loan_amount_000s                  203848 non-null int64',
 'hud_median_family_income          203722 non-null float64',
 'applicant_income_000s             193458 non-null float64',
 'state_name                        203848 non-null object',
 'state_abbr                        203848 non-null object',
 'sequence_number                   0 non-null float64',
 'respondent_id                     203848 non-null object',
 'purchaser_type_name               203848 non-null object',
 'property_type_name                203848 non-null object',
 'preapproval_name                  203848 non-null object',
 'owner_occupancy_name              203848 non-null object',
 'msamd_name                        173986 non-null object',
 'loan_type_name                    203848 non-null object',
 'loan_purpose_name                 203848 non-null object',
 'lien_status_name                  203848 non-null object',
 'hoepa_status_name                 203848 non-null object',
 'edit_status_name                  0 non-null float64',
 'denial_reason_name_3              0 non-null float64',
 'denial_reason_name_2              0 non-null float64',
 'denial_reason_name_1              0 non-null float64',
 'county_name                       203733 non-null object',
 'co_applicant_sex_name             203848 non-null object',
 'co_applicant_race_name_5          2 non-null object',
 'co_applicant_race_name_4          2 non-null object',
 'co_applicant_race_name_3          25 non-null object',
 'co_applicant_race_name_2          343 non-null object',
 'co_applicant_race_name_1          203848 non-null object',
 'co_applicant_ethnicity_name       203848 non-null object',
 'census_tract_number               203722 non-null float64',
 'as_of_year                        203848 non-null int64',
 'application_date_indicator        0 non-null float64',
 'applicant_sex_name                203848 non-null object',
 'applicant_race_name_5             6 non-null object',
 'applicant_race_name_4             15 non-null object',
 'applicant_race_name_3             92 non-null object',
 'applicant_race_name_2             1093 non-null object',
 'applicant_race_name_1             203848 non-null object',
 'applicant_ethnicity_name          203848 non-null object',
 'agency_name                       203848 non-null object',
 'agency_abbr                       203848 non-null object',
 'action_taken_name                 203848 non-null object']

***
## Step-6: Iterate over `roi_list`
+ Write a `for`-loop to iterate over each element in `roi_list`
+ Inside of the `for`-loop, print the list item
    - How many columns are in each printed row?

In [30]:
# YOUR CODE GOES HERE

***
## Step-7: Split each item in the `roi_list` into four objects
+ The `roi_list` contains items corresponding to one row displayed by the `.info()` method:
    - Each row contains four columns seperated by spaces
+ Iterate over each item in the list and perform the following processing:
    - Split each item of the `roi_list` using `.split()` method
    - Using the **list unpacking** return the results of the splitting into four objects:
        * `col`, `obj_size`, `label`, and `obj_type`
        * The first two are provided, add the code for the other two returned objects
    - Print each unpacked item on a new line
    - Print a delimeter line after processing each row item in the loop
    - Examine how the provided output looks like for the first two items in the `roi_list`

In [ ]:
# YOUR CODE GOES HERE

***
## Step-8: Create Four Lists from the `roi_list`
+ The goal is to create four lists:
    - `col_names_list`: to store the first column of all the column / feature names
    - `sizes_list`: to store the number of non-null elements in the corresponding column
    - `label_list`: to store the label `non-null`
    - `types_list`: to store the type of objects this column has, e.g. int64, float64, etc.
+ Step 8.A: To create these lists, they have to be first initialized to be empty lists:
    - the first list is initialized for you
    - do the same for the othe four lists
+ Step 8.B: Update the lists in the for-loop:
    - Iterate over each item in the list and perform the following processing:
    - Split each item of the `roi_list` using `.split()` method as in Step-7
        * Using the **list unpacking** return the results of the splitting into four objects: `col`, `obj_size`, `label`, and `obj_type
    - Add each of the unpacked objects to the list using the `.append()` method:
        * e.g., `col_names_list.append (col)`

+ Examine the the provided code snippets that display the first three items from each list using slicing

In [37]:
# Step 8.A: Initialize the lists
col_names_list = []

#YOUR CODE GOES HERE

# Step 8.B: Update the lists in the for-loop
# YOUR CODE GOES HERE

In [39]:
# Examine the output of the first 3 list slices
print (col_names_list [ 0 : 3])
print (sizes_list [ 0 : 3])
print (label_list [ 0 : 3])
print (types_list [ 0 : 3])

['tract_to_msamd_income', 'rate_spread', 'population']
['203722', '13173', '203722']
['non-null', 'non-null', 'non-null']
['float64', 'float64', 'float64']

***
## Step-9: Create a DataFrame from the Lists
+ We will use the list (zip (multiple_lists)) to zip the four lists side-by-side and create a Pandas DataFrame using these four zipped lists
+ Examine the code that creates the DataFrame
+ Change the column names using `df_roi.columns` to assign the values from the list of column labels

In [52]:
# Examine the code snippet to create a DataFrame from four lists
df_roi = pd.DataFrame (list (zip (col_names_list, sizes_list, label_list, types_list)))
df_roi.head()

                                0       1         2        3
0           tract_to_msamd_income  203722  non-null  float64
1                     rate_spread   13173  non-null  float64
2                      population  203722  non-null  float64
3             minority_population  203722  non-null  float64
4  number_of_owner_occupied_units  203722  non-null  float64

In [ ]:
# YOUR CODE to Change Column Names

In [54]:
# Compare your output with the provided one
print (df_roi.columns)
df_roi.head()

Index(['feature', 'size', 'label', 'type'], dtype='object')

                          feature    size     label     type
0           tract_to_msamd_income  203722  non-null  float64
1                     rate_spread   13173  non-null  float64
2                      population  203722  non-null  float64
3             minority_population  203722  non-null  float64
4  number_of_owner_occupied_units  203722  non-null  float64

***
## Step-10: Iterate over DataFrame 
+ Use `.itertuples()` method to iterate over `df_roi` while producing named tuples
* Inside of the `for`-loop, print only the value from the size column and the feature column
    - Compare your output with the one provided

In [ ]:
# YOUR CODE GOES HERE

***
## Step-11: Convert DataFrame into Dictionary
+ Use the `.to_dict()` method to convert `df_roi` DataFrame to a dictionary object:
    - Specify `orient='list'` as input parameter to the method
    - Store the results in the `roi_dict` object
+ Display the keys of the `roi_dict` and compare with the provided answer
+ Iterate over the dictionary using `.items()` method:
    - Print the key
    - Print the value for this key
    - Print a delimiter line
Examine your output with the one provided

In [46]:
# YOUR CODE GOES HERE

dict_keys(['feature', 'size', 'label', 'type'])

feature
['tract_to_msamd_income', 'rate_spread', 'population', 'minority_population', 'number_of_owner_occupied_units', 'number_of_1_to_4_family_units', 'loan_amount_000s', 'hud_median_family_income', 'applicant_income_000s', 'state_name', 'state_abbr', 'sequence_number', 'respondent_id', 'purchaser_type_name', 'property_type_name', 'preapproval_name', 'owner_occupancy_name', 'msamd_name', 'loan_type_name', 'loan_purpose_name', 'lien_status_name', 'hoepa_status_name', 'edit_status_name', 'denial_reason_name_3', 'denial_reason_name_2', 'denial_reason_name_1', 'county_name', 'co_applicant_sex_name', 'co_applicant_race_name_5', 'co_applicant_race_name_4', 'co_applicant_race_name_3', 'co_applicant_race_name_2', 'co_applicant_race_name_1', 'co_applicant_ethnicity_name', 'census_tract_number', 'as_of_year', 'application_date_indicator', 'applicant_sex_name', 'applicant_race_name_5', 'applicant_race_name_4', 'applicant_race_name_3', 'applicant_race_name_2', 'applicant_race_name_1', 'applicant_ethnicity_name', 'agency_name', 'agency_abbr', 'action_taken_name']
------------------------------
size
['203722', '13173', '203722', '203722', '203722', '203722', '203848', '203722', '193458', '203848', '203848', '0', '203848', '203848', '203848', '203848', '203848', '173986', '203848', '203848', '203848', '203848', '0', '0', '0', '0', '203733', '203848', '2', '2', '25', '343', '203848', '203848', '203722', '203848', '0', '203848', '6', '15', '92', '1093', '203848', '203848', '203848', '203848', '203848']
------------------------------
label
['non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null', 'non-null']
------------------------------
type
['float64', 'float64', 'float64', 'float64', 'float64', 'float64', 'int64', 'float64', 'float64', 'object', 'object', 'float64', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'float64', 'float64', 'float64', 'float64', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'float64', 'int64', 'float64', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object']
------------------------------